/*.swiper {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/

/*.swiper-slide {*/
/*    background-position: center;*/
/*    background-size: cover;*/
/*}*/

/*.swiper-slide img {*/
/*    display: block;*/
/*    width: 100%;*/
/*}*/

/*.carousel-img {*/
/*    height: 100vh;*/
/*}*/

/*.carousel-poster {*/
/*    max-height: 500px;*/
/*    height: 100%;*/
/*    width: 100%;*/
/*    max-width: 400px;*/
/*    object-fit: contain;*/
/*}*/

.carousel-card {
    margin: 50px 90px 50px 20px;
    padding: 15px;
    width: 450px;
    height: 590px;
    /*background: rgba(46, 44, 47, 0.32);*/
    border-radius: 16px;
    /*box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);*/
    /*backdrop-filter: blur(5.4px);*/
    /*-webkit-backdrop-filter: blur(5.4px);*/

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
}

.rating-trailer {
    display: flex;
    gap: 15px;
}
